/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Google font end */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --bg-color: #0c0c0c;
    --text-color: #fff;
    --main-color: #ae8957;
    --big-font: 6.6rem;
    --p-font: 1rem;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 7%;
    position: fixed;
    transition: all .50s ease;
}
.logo img{
    width: 100%;
    height: auto;
}
.navlist{
    display: flex;
}
.navlist li{
    list-style: none;
}
.navlist a{
    display: inline-block;
    margin: 0 35px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .6s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
/* right-content style */
.right-content{
    display: flex;
    align-items: center;
}
.nav-btn{
    display: inline-block;
    border: 2px solid var(--text-color);
    border-radius: 7px;
    padding: 9px 24px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
    background: transparent;
}
.nav-btn:hover{
    transform: translateY(-5px);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.bx-menu{
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
/* Main Hero section style */
section{
    padding: 0 14%;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.hero-img img{
    width: 100%;
    height: auto;
}
.hero-text h1{
    font-size: var(--big-font);
    font-weight: 900;
    margin: 15px 0px;
}
.hero-text h5{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.hero-text p{
    width: 100%;
    max-width: 620px;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
    margin-bottom: 40px;
}
.main-hero{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    margin-right: 20px;
    padding: 13px 32px;
    background: var(--main-color);
    border: 2px solid transparent;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
}
.btn:hover {
    transform: scale(1.1);
}
.price{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color);
}
.price span{
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
    color: var(--main-color);
}