.box {
  background-color: gray;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  /* gap: 40px; */
}
.boxP1{
    background-color: aqua;
    padding-top: 10px;
    width: 160px;
    padding-right: 70px;
    /* height: 50px; */
    /* overflow: hidden; */
    /* text-align: center; */
    /* width: 100px;
    text-align: center;
    color: #f0f8ff; */
    /* padding: 0px 80px; */
}
.boxP2{
    background-color: aqua;
    padding-top: 10px;
    width: 160px;
    /* padding-right: 70px; */
    /* height: 50px; */
    /* overflow: hidden; */
    /* text-align: center; */
    /* width: 100px;
    text-align: center;
    color: #f0f8ff; */
    /* padding: 0px 80px; */
}
