*{
    margin: 0%;
    padding: 0%;
}
body{
    /* background-color:azure ; */
    /* margin: 10px; */
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    /* margin-right: 3px; */
    background-color:  #ccf9f3;
    box-shadow: 0 10px 50px rgba(162, 246, 250, 0.49);
    height: 70px;
    border-radius: 5px;
    
}
.menu ul, li{
    margin-right: 20px;
    display: flex;
    gap: 4px;
    font-weight: bold;
}
.menu li, a{
    text-decoration: none;
    color: black;
}
.hero{
    display: flex;
    /* width: 1100px; */
    justify-content: space-around;
    margin-top: 20px;
}
.menu li, a:hover{
    color: blue;
    transition: all ease-in 0.05s;
}
.hero-img{
    
}
.hero-img img{
    margin-top: 20px;
    width: 300px;
    height: 300px;
}
.hero-w h2{
    padding-top: 30px;
    line-height: ;
    font-size: 3em;
}
.hero-w p{
    width: 500px;
    margin-top: 20px;
    font-size: 1.5em;
}
button{
    width: 130px;
    height: 40px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: #99f5ea;
    box-shadow: 2px 2px 15px 2px rgba(30, 123, 243, 0.381);
    font-weight: 800;
}
button:hover{
    color: aliceblue;
    background-color: rgb(70, 185, 95);
    box-shadow: 2px 2px 15px 2px rgba(30, 243, 90, 0.381);
    transition: all ease-in 0.2s;
}
.card-section{
    text-align: center;
    margin-top: 5px;
}
.card-title{
    font-size: 2em;
    margin-top: 100px;
}

.card-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* width: 250px; */
}
.card{
    width: 220px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 24px 24px 10px 10px;
    box-shadow: 0px 5px 10px rgba(88, 242, 245, 0.377);
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
    border-radius: 20px;
} 
 .card::before{
    content: "";
    position: absolute;
    background-color: #99f5ea;
    height:100px;
    width: 240px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 24px 24px 0 0;
    display: flex;
}

.card img{
    width: 150px;
    height: 150px;
    position: relative;
    object-fit: cover;
    border-radius: 20px;
    /* box-shadow: 0 4px 16px rgba(65, 170, 255, 0.15); */
    /* transition: transform 0.2s; */
}

.btn {
   margin-bottom: 20px;
}